<!DOCTYPE html>
<html lang="en">

<head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<link rel="stylesheet" href="/Style/style.css">

<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>

    <div class="main">
        <div class="companyName">
            <h1>Contact us</h1>
            <p>Need more information? We’re here to answer any questions you may have about Apisero.</p>
        </div><br>

        <div class="container">
            <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                <input type=hidden name="oid" value="00D5j000005pZk9">
                <input type=hidden name="retURL" value="http://www.google.com">
                <div class="row">
                    <div class="labelClass">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="inputClass">
                        <input id="first_name" maxlength="40" name="first_name" size="20" type="text" required />
                    </div>
                </div>
                <div class="row">
                    <div class="labelClass">
                        <label for="last_name">Last Name</label>
                    </div>
                    <div class="inputClass">
                        <input id="last_name" maxlength="80" name="last_name" size="20" type="text" required />
                    </div>
                </div>
                <div class="row">
                    <div class="labelClass">
                        <label for="company">Company Name</label>
                    </div>
                    <div class="inputClass">
                        <input id="company" maxlength="80" name="company" size="20" type="text" required />
                    </div>
                </div>
                <div class="row">
                    <div class="labelClass">
                        <label for="phone">Phone</label>
                    </div>
                    <div class="inputClass">
                        <input id="phone" maxlength="10" name="phone" size="10" type="tel" required />
                    </div>
                </div>
                <div class="row">
                    <div class="labelClass">
                        <label for="lead_source">Heard about us from?</label><br>
                    </div>
                    <div class="inputClass">
                        <select id="lead_source" name="lead_source">
                            <option value="">--None--</option>
                            <option value="Web">Web</option>
                            <option value="Campaigns">Campaigns</option>
                            <option value="Referrals">Referrals</option>
                            <option value="Phone">Phone</option>
                            <option value="Enquiry">Enquiry</option>
                            <option value="Partner Reference">Partner Reference</option>
                        </select>
                    </div>
                </div><br>
                <div class="row">
                    <input type="submit" name="submit">
                </div>
            </form>
        </div>
    </div>
</body>

</html>